:root{
   --branco: white;
   --corDeFundo: hsl(230, 69%, 14%);
   --fundoSenha: #00244d;
   --fundoDeTexto: #001E40;
   --borda: #0075ff;
   --BebasNeue: "Bebas Neue";
   --BarlowCondensed: "Barlow Condensed";
}

*{
    font-weight: 400;
}

body{
    color: var(--branco);
    background-color: var(--corDeFundo);
}
.titulo-principal{
    font-family: var(--BebasNeue);
}
.titulo-secundario{
    font-family: var(--BarlowCondensed);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 88px;
}

.conteudo-senha{
    background-color: var(--fundoSenha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
    margin-top: 70px;
}



#campo-senha{
    background-color: var(--fundoSenha);
    border: none;
    color: var(--branco);
    font-family: var(--BebasNeue);
    font-size: 40px;
    
}
#campo-senha:focus{
    outline: none;
}

.conteudo{
    max-width: 12000px;
    margin: 0 auto;
}